<section class="footer content-row">
  <div class="wrapper">
    <h2>Sweet <span>Shop</span></h2>
    <ul class="social-icon">
      <li><a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="javascript:;"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li><a href="javascript:;"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="footer-menu">
      <li><a href="javascript:;">Menu</a></li>
      <li><a href="javascript:;">Help</a></li>
      <li><a href="javascript:;">About Us</a></li>
      <li><a href="javascript:;">Story</a></li>
      <li><a href="javascript:;">Location</a></li>
    </ul>
    <ul class="footer-links">
      <li><a href="javascript:;">Contact Us</a></li>
      <li><a href="javascript:;">Blog</a></li>
      <li><a href="javascript:;">Delivery</a></li>
    </ul>
  </div>
</section>
<div class="footer-image">
  <div class="wrapper">
    <img src="assets/img/footer-img.jpg" alt="Sweet Shop product" />
  </div>
</div>
<section class="copy-rt">
  <div class="wrapper">
    <p>All right Reserved</p>
  </div>
</section>
