  <div class="banner owl-carousel">
    <div class="item">
      <img src="assets/img/banner1.png" alt="Sweet Shop banner" />
    </div>
    <div class="item">
      <img src="assets/img/banner2.png" alt="Sweet Shop banner" />
    </div>
  </div>
  <section class="content-row menu-list-section">
    <h2>OUR <span>MENU</span></h2>
    <div class="wrapper">
      <div class="all-flex-box margin-bottom-50">
        <div class="menu-list">
          <img src="assets/img/Anjeer_Dry_Fruit_Roll_COMPRESSED.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/sweea181.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/akaash-namkin.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/53928940.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/maxresdefault.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/CHOCO_BISCUITS_COMPRESSED - Copy.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/Kaju_Laddu_COMPRESSED.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
        <div class="menu-list">
          <img src="assets/img/Kaju_Pineapple_COMPRESSED.jpg" alt="Sweet Shop banner" />
          <div class="hover-content">
            <h4>Dry Fruit Sweet</h4>
            <p>Our range of Dry Fruit Sweets are the epitome of indulgece having pioneered the Art of Making these
              Highly nutritious and delectable sweets madefrom the best Dry Fruits.</p>
            <a href="#" class="btn1">Order Now</a>
          </div>
        </div>
      </div>
      <a href="#" class="btn-2">View Menu</a>
    </div>

  </section>
  <section class="content-row popular-section">
    <div class="wrapper">
      <h2>Popular <span>Sweets</span></h2>
      <div class="popular-products all-flex-box owl-carousel">
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Kaju_Apple_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Apple</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Chow_Chow_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Fry</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Dry_Jamoon_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Apple</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Champakali_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Apple</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Kaju_Apple_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Apple</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Chow_Chow_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Fry</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Dry_Jamoon_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Apple</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
        <div class="popular-product-list">
          <div class="product-img"><img src="assets/img/Champakali_COMPRESSED.jpg" alt="Sweet Shop product" /></div>
          <h3>Kaju Apple</h3>
          <p>Our range of Dry Fruit Sweets are the epitome of indulgece</p>
          <div class="act-div">
            <div class="price-weight">
              <span class="weight-box">250 Gms</span>
              <span class="price-box"><i class="fa fa-inr" aria-hidden="true"></i>
                275</span>
            </div>
            <a href="#" class="btn-3">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>
